.whitelist{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10em;
  .whitelist_button{
    margin-top: 4em;
    
    
  }
  .whitelist_addresses{
    margin-top: 4em;
    font-size: 1.2em;
  }
  
}
